* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
  background: #f4f6f9;
  padding: 30px;
}

.card {
  background: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 25px 35px 40px;
  border-radius: 6px;
  
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 9px 10px;
  font-size: 13px;
  border: 1px solid #dcdfe3;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #e63946;
}

.full {
  grid-column: span 3;
}

.radio {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}

.center {
  text-align: center;
  margin-top: 10px;
}

button {
  background: #3945e6;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #c62828;
}

/* Responsive */
@media (max-width: 900px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .full {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .full {
    grid-column: span 1;
  }
}
