.about-section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #1696e0e5;
  border-radius: 10px;
}

.about-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.about-text {
  font-size: 16px;
  color: #374151;
  line-height: 1.6;
}
